@using PortfolioInsight.Financial;
@model PortfolioInsight.Web.Controllers.PortfolioViewModel

<h1 class="text-center">@Model.Portfolio.Name</h1>
<div class="row">
    <div class="col-sm">
        <div class="card mb-4">
            <div class="card-header">
                Assets
            </div>
            <div class="card-body" data-element="card-body">
                <table class="table table-sm">
                    <thead>
                        <tr>
                            <th scope="col">Asset Class</th>
                            <th scope="col">Actual (%)</th>
                            <th scope="col">Target (%)</th>
                            <th scope="col">Actual ($)</th>
                            <th scope="col">Target ($)</th>
                            <th scope="col"><span class="text-success">Buy</span> or <span class="text-danger">Sell</span></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var asset in Model.Report.Assets)
                        {
                            <tr>
                                <td>@asset.AssetClass.Name</td>
                                <td>@asset.Proportion.RoundedTo(1)</td>
                                <td>@asset.AssetClass.Target?.RoundedTo(1)</td>
                                <td>@asset.Value</td>
                                <td>@asset.Target</td>
                                <td>
                                    @if (asset.Variance.HasValue)
                                    {
                                        @if (asset.Variance.Value > Amount.Zero)
                                        {
                                            <span class="text-success">@asset.Variance.Value</span>
                                        }
                                        else
                                        {
                                            <span class="text-danger">@asset.Variance.Value</span>
                                        }
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <th>Total</th>
                            <th>@(((Rate)Model.Report.Assets.Sum(a => a.Proportion)).RoundedTo(0))</th>
                            <th>@(((Rate)Model.Report.Assets.Sum(a => a.AssetClass.Target)).RoundedTo(0))</th>
                            <th>@Model.Report.Total</th>
                            <th>@((Amount)Model.Report.Assets.Sum(a => a.Target))</th>
                            <th>@((Amount)Model.Report.Assets.Sum(a => a.Variance))</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm">
        <div class="card mb-4" data-section="accounts">
            <div class="card-header">
                Accounts
            </div>
            <div class="card-body">
                @foreach (var account in Model.Report.Accounts)
                {
                    <div data-section="account" @if (account.Exclude) { <text>data-account-exclude</text> }>
                        <div class="mb-1">
                            <a href="#" data-action="toggle">
                                <i class="fas fa-chevron-down fa-sm" data-section="chevron"></i> @account.Name
                            </a>
                        </div>
                        <div data-element="positions">
                            <table class="table table-sm  @if (account.Exclude) { <text>text-muted</text> }">
                                <thead>
                                    <tr>
                                        <th scope="col">Symbol</th>
                                        <th scope="col">Value</th>
                                        <th scope="col">Currency</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var r in account.Positions)
                                    {
                                        <tr @if (r.Exclude) { <text>class="text-muted"</text> }>
                                            <td>@r.Position.Symbol.Name</td>
                                            <td>@r.Position.Value</td>
                                            <td>@r.Position.Currency.Code</td>
                                        </tr>
                                    }
                                    @foreach (var r in account.Balances.Where(r => r.Balance.Value != 0))
                                    {
                                        <tr @if (r.Exclude) { <text>class="text-muted"</text> }>
                                            <td>@r.Balance.Type</td>
                                            <td>@r.Balance.Value</td>
                                            <td>@r.Balance.Currency.Code</td>
                                        </tr>
                                    }
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>Total</th>
                                        <th>@account.TotalIn(Model.Report.Output)</th>
                                        <th>@Model.Report.Output.Code</th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="col-sm">
        <div class="card mb-4">
            <div class="card-header">
                Currencies
            </div>
            <div class="card-body">
                <table class="table table-sm mb-0">
                    <thead>
                        <tr>
                            <th scope="col">Currency</th>
                            <th scope="col">Rate</th>
                            <th scope="col">As Of</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var currency in Model.Report.Currencies)
                        {
                            <tr>
                                <td>@currency.Code</td>
                                <td>@currency.Rate.Value</td>
                                <td>@currency.AsOf.ToString("MMM d, yyyy")</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card mb-4">
            <div class="card-header">
                Allocations
            </div>
            <div class="card-body">
                <table class="table table-sm mb-0">
                    <thead>
                        <tr>
                            <th scope="col">Symbol</th>
                            <th scope="col">Asset Class</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var allocation in Model.Report.Allocations)
                        {
                            <tr>
                                <td>@allocation.Symbol.Name</td>
                                <td>
                                    @if (allocation.Proportions.Count == 1)
                                    {
                                        @allocation.Proportions.First().AssetClass.Name
                                    }
                                    else if (allocation.Proportions.Count > 1)
                                    {
                                        foreach (var proportion in allocation.Proportions)
                                        {
                                            <div><small>@proportion.AssetClass.Name @proportion.Rate</small></div>
                                        }
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        (function () {
            var toggleAccount = function (element, animate) {
                var $positions = $(element)
                    .find('[data-section="chevron"]')
                    .each(function () {
                        if ($(this).hasClass('fa-chevron-down'))
                            $(this)
                                .removeClass('fa-chevron-down')
                                .addClass('fa-chevron-up');
                        else
                            $(this)
                                .removeClass('fa-chevron-up')
                                .addClass('fa-chevron-down');
                    })
                    .closest('[data-section="account"]')
                    .find('[data-element="positions"]');

                if (animate)
                    $positions.slideToggle();
                else
                    $positions.toggle();
            };

            $('[data-section="accounts"]').on('click', '[data-action="toggle"]', function (e) {
                e.preventDefault();
                toggleAccount(this, true);
            });

            $('[data-account-exclude]').each(function () {
                toggleAccount(this);
            });
        }());
    </script>
}